*.txt           whitespace

# binary files or at least no text files
*.asc           binary
*.bz2           binary
*.db            binary
*.db-journal    binary
*.dia           binary
*.doc           binary
*.docx          binary
*.eps           binary
*.flac          binary
*.gif           binary
*.gpg           binary
*.gz            binary
*.ico           binary
*.jar           binary
*.jpeg          binary
*.jpg           binary
*.keyring       binary
*.keystore      binary
*.mo            binary
*.mp3           binary
*.ogg           binary
*.pdf           binary
*.png           binary
*.psd           binary
*.tar.*         binary
*.xls           binary
*.xlsx          binary
*.zip           binary
